{% extends 'layout.html' %}

{% block body_content %}

<h2> Sign Up</h2>
<br>
Please fill in all boxes.
<form action="" method='POST'>
    <p>
        {{form.hidden_tag()}}
        {{form.username.label}} <br>
        {{form.username(size=30)}}
    </p>
    <p>
        {{form.first_name.label}} <br>
        {{form.first_name(size=30)}}
    </p>
    <p>
        {{form.last_name.label}} <br>
        {{form.last_name(size=30)}}
    </p>
    <p>
        {{form.date_of_birth.label}} <br>
        {{form.date_of_birth(size=30)}}
    </p>
    <p>
        {{form.email.label}} <br>
        {{form.email(size=30)}}
    </p>
    <p>
        {{form.password.label}} <br>
        {{form.password(size=30)}}
    </p>
    <p> {{form.submit()}} <p>
</form>

{% endblock body_content %}